@model IEnumerable<DataAccess.Models.OrderRepair>

@{
    ViewBag.Title = "Quản lý đặt lịch";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Danh sách đặt lịch</h2>


<table class="table">
    <tr>
        <th>
            Khách hàng
        </th>
        <th>
            Số điện thoại
        </th>
        <th>
            Địa chỉ
        </th>
        <th>
            Email
        </th>
        <th>
            Ngày yêu cầu sửa chữa
        </th>
        <th>
            Nội dung yêu cầu
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CustomerName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhoneNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CustomerAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CustomerEmail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrderDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Content)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.OrderRepairId }) |
            @Html.ActionLink("Details", "Details", new { id=item.OrderRepairId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.OrderRepairId })
        </td>
    </tr>
}

</table>
