@{
	ViewBag.Title = "Trang chủ";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Mini Cart Wrap Start -->
@Html.Action("MiniCart", "Products")
<!-- Mini Cart Wrap End -->
<!-- Cart Overlay -->
<div class="cart-overlay"></div>

<!-- Hero Section Start -->
@Html.Action("HeroBanner", "Home")
<!-- Hero Section End -->
<!-- Banner Section Start -->
<div class="banner-section section mb-60">
	<div class="container">
		<div class="row row-10">

			<!-- Banner -->
			<div class="col-md-8 col-12 mb-30">
				<div class="banner"><a href="@Url.Action("ProductDetail","Products",new { @id = 21})"><img src="~/assets/images/product/banner.jpg" width="770" height="320" alt="Banner"></a></div>
			</div>

			<!-- Banner -->
			<div class="col-md-4 col-12 mb-30">
				<div class="banner"><a href="@Url.Action("ProductDetail","Products",new { @id = 22})"><img src="~/assets/images/product/tivi-10.jpg" width="380" height="320" alt="Banner"></a></div>
			</div>

		</div>
	</div>
</div><!-- Banner Section End -->
<!-- Feature Product Section Start -->
@Html.Action("Feature", "Products")
<!-- Feature Product Section End -->
<!-- Best Sell Product Section Start -->
@Html.Action("BestSell", "Products")
<!-- Best Sell Product Section End -->
<!-- Banner Section Start -->
<div class="banner-section section mb-90">
	<div class="container">
		<div class="row">

			<!-- Banner -->
			<div class="col-12">
				<div class="banner"><a href="#"><img src="@Url.Action("Blog","Home")" alt="Banner"></a></div>
			</div>

		</div>
	</div>
</div><!-- Banner Section End -->
<!-- Feature Section Start -->
<div class="feature-section section mb-60">
	<div class="container">
		<div class="row">

			<div class="col-lg-4 col-md-6 col-12 mb-30">
				<!-- Feature Start -->
				<div class="feature feature-shipping">
					<div class="feature-wrap">
						<div class="icon"><img src="~/assets/images/icons/feature-van.png" alt="Feature"></div>
						<h4>MIỄN PHÍ GIAO HÀNG</h4>
						<p>VỚI ĐƠN HÀNG TRÊN 10 TRIỆU</p>
					</div>
				</div><!-- Feature End -->
			</div>

			<div class="col-lg-4 col-md-6 col-12 mb-30">
				<!-- Feature Start -->
				<div class="feature feature-guarantee">
					<div class="feature-wrap">
						<div class="icon"><img src="~/assets/images/icons/feature-walet.png" alt="Feature"></div>
						<h4>CHẤT LƯỢNG KHÔNG TỐT</h4>
						<p>HOÀN TIỀN TRONG VÒNG 15 NGÀY</p>
					</div>
				</div><!-- Feature End -->
			</div>

			<div class="col-lg-4 col-md-6 col-12 mb-30">
				<!-- Feature Start -->
				<div class="feature feature-security">
					<div class="feature-wrap">
						<div class="icon"><img src="~/assets/images/icons/feature-shield.png" alt="Feature"></div>
						<h4>THANH TOÁN AN TOÀN</h4>
						<p>ĐẢM BẢO MINH BẠCH</p>
					</div>
				</div><!-- Feature End -->
			</div>

		</div>
	</div>
</div><!-- Feature Section End -->
<!-- Best Deals Product Section Start -->
@Html.Action("BestDeals", "Products")
<!-- Best Deals Product Section End -->
<!-- New Arrival Product Section Start -->
<div class="product-section section mb-60">
	@Html.Action("NewArrival", "Products")
</div><!-- New Arrival Product Section End -->
<!-- Banner Section Start -->
<div class="banner-section section mb-60">
	<div class="container">
		<div class="row">

			<!-- Banner -->
			<div class="col-md-4 col-12 mb-30">
				<div class="banner"><a href="#"><img src="~/assets/images/banner/banner-4.jpg" alt="Banner"></a></div>
			</div>

			<!-- Banner -->
			<div class="col-md-4 col-12 mb-30">
				<div class="banner"><a href="#"><img src="~/assets/images/banner/banner-5.jpg" alt="Banner"></a></div>
			</div>

			<!-- Banner -->
			<div class="col-md-4 col-12 mb-30">
				<div class="banner"><a href="#"><img src="~/assets/images/banner/banner-6.jpg" alt="Banner"></a></div>
			</div>

		</div>
	</div>
</div><!-- Banner Section End -->
<!-- Brands Section Start -->
<div class="brands-section section mb-90">
	<div class="container">
		<div class="row">

			<!-- Brand Slider Start -->
			<div class="brand-slider col">
				<div class="brand-item col"><img src="~/assets/images/brands/brand-1.png" alt="Brands"></div>
				<div class="brand-item col"><img src="~/assets/images/brands/brand-2.png" alt="Brands"></div>
				<div class="brand-item col"><img src="~/assets/images/brands/brand-3.png" alt="Brands"></div>
				<div class="brand-item col"><img src="~/assets/images/brands/brand-4.png" alt="Brands"></div>
				<div class="brand-item col"><img src="~/assets/images/brands/brand-5.png" alt="Brands"></div>
			</div><!-- Brand Slider End -->

		</div>
	</div>
</div><!-- Brands Section End -->
<!-- Subscribe Section Start -->
