@{
	ViewBag.Title = "Trang chủ";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Mini Cart Wrap Start -->
@Html.Action("MiniCart", "Products")
<!-- Mini Cart Wrap End -->
<!-- Cart Overlay -->
<div class="cart-overlay"></div>

<!-- Hero Section Start -->
@Html.Action("HeroBanner", "Home")
<!-- Hero Section End -->
<!-- Banner Section Start -->
<div class="banner-section section mb-60">
	<div class="container">
		<div class="row row-10">

			<!-- Banner -->
			<div class="col-md-8 col-12 mb-30">
				<div class="banner"><a href="@Url.Action("ProductDetail","Products",new { @id = 21})"><img src="~/assets/images/product/banner.jpg" width="770" height="320" alt="Banner"></a></div>
			</div>

			<!-- Banner -->
			<div class="col-md-4 col-12 mb-30">
				<div class="banner"><a href="@Url.Action("ProductDetail","Products",new { @id = 22})"><img src="~/assets/images/product/tivi-10.jpg" width="380" height="320" alt="Banner"></a></div>
			</div>

		</div>
	</div>
</div><!-- Banner Section End -->
<!-- Feature Product Section Start -->
@Html.Action("Feature", "Products")
<!-- Feature Product Section End -->
<!-- Best Sell Product Section Start -->
@Html.Action("BestSell", "Products")
<!-- Best Sell Product Section End -->
<!-- Banner Section Start -->
<div class="banner-section section mb-90">
	<div class="container">
		<div class="row">

			<!-- Banner -->
			<div class="col-12">
				<div class="banner"><a href="#"><img src="@Url.Action("Blog","Home")" alt="Banner"></a></div>
			</div>

		</div>
	</div>
</div><!-- Banner Section End -->
<!-- Feature Section Start -->
<div class="feature-section section mb-60">
	<div class="container">
		<div class="row">

			<div class="col-lg-4 col-md-6 col-12 mb-30">
				<!-- Feature Start -->
				<div class="feature feature-shipping">
					<div class="feature-wrap">
						<div class="icon"><img src="~/assets/images/icons/feature-van.png" alt="Feature"></div>
						<h4>MIỄN PHÍ GIAO HÀNG</h4>
						<p>VỚI ĐƠN HÀNG TRÊN 10 TRIỆU</p>
					</div>
				</div><!-- Feature End -->
			</div>

			<div class="col-lg-4 col-md-6 col-12 mb-30">
				<!-- Feature Start -->
				<div class="feature feature-guarantee">
					<div class="feature-wrap">
						<div class="icon"><img src="~/assets/images/icons/feature-walet.png" alt="Feature"></div>
						<h4>CHẤT LƯỢNG KHÔNG TỐT</h4>
						<p>HOÀN TIỀN TRONG VÒNG 15 NGÀY</p>
					</div>
				</div><!-- Feature End -->
			</div>

			<div class="col-lg-4 col-md-6 col-12 mb-30">
				<!-- Feature Start -->
				<div class="feature feature-security">
					<div class="feature-wrap">
						<div class="icon"><img src="~/assets/images/icons/feature-shield.png" alt="Feature"></div>
						<h4>THANH TOÁN AN TOÀN</h4>
						<p>ĐẢM BẢO MINH BẠCH</p>
					</div>
				</div><!-- Feature End -->
			</div>

		</div>
	</div>
</div><!-- Feature Section End -->
<!-- Best Deals Product Section Start -->
@Html.Action("BestDeals", "Products")
<!-- Best Deals Product Section End -->
<!-- New Arrival Product Section Start -->
<div class="product-section section mb-60">
	<div class="container">
		<div class="row">

			<!-- Section Title Start -->
			<div class="col-12 mb-40">
				<div class="section-title-one" data-title="NEW ARRIVAL"><h1>NEW ARRIVAL</h1></div>
			</div><!-- Section Title End -->

			<div class="col-12">
				<div class="row">

					<div class="col-xl-3 col-lg-4 col-md-6 col-12 pb-30 pt-10">
						<!-- Product Start -->
						<div class="ee-product">

							<!-- Image -->
							<div class="image">

								<span class="label sale">sale</span>

								<a href="single-product.html" class="img"><img src="~/assets/images/product/product-16.png" alt="Product Image"></a>

								<div class="wishlist-compare">
									<a href="#" data-tooltip="Compare"><i class="ti-control-shuffle"></i></a>
									<a href="#" data-tooltip="Wishlist"><i class="ti-heart"></i></a>
								</div>

								<a href="#" class="add-to-cart"><i class="ti-shopping-cart"></i><span>ADD TO CART</span></a>

							</div>

							<!-- Content -->
							<div class="content">

								<!-- Category & Title -->
								<div class="category-title">

									<a href="#" class="cat">Tv & Audio</a>
									<h5 class="title"><a href="single-product.html">Nexo Andriod TV Box</a></h5>

								</div>

								<!-- Price & Ratting -->
								<div class="price-ratting">

									<h5 class="price"><span class="old">$360 </span>$250.00</h5>
									<div class="ratting">
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star-half-o"></i>
									</div>

								</div>

							</div>

						</div><!-- Product End -->
					</div>

					<div class="col-xl-3 col-lg-4 col-md-6 col-12 pb-30 pt-10">
						<!-- Product Start -->
						<div class="ee-product">

							<!-- Image -->
							<div class="image">

								<span class="label new">new</span>

								<a href="single-product.html" class="img"><img src="~/assets/images/product/product-17.png" alt="Product Image"></a>

								<div class="wishlist-compare">
									<a href="#" data-tooltip="Compare"><i class="ti-control-shuffle"></i></a>
									<a href="#" data-tooltip="Wishlist"><i class="ti-heart"></i></a>
								</div>

								<a href="#" class="add-to-cart"><i class="ti-shopping-cart"></i><span>ADD TO CART</span></a>

							</div>

							<!-- Content -->
							<div class="content">

								<!-- Category & Title -->
								<div class="category-title">

									<a href="#" class="cat">Smartphone</a>
									<h5 class="title"><a href="single-product.html">Ornet Note 9</a></h5>

								</div>

								<!-- Price & Ratting -->
								<div class="price-ratting">

									<h5 class="price"><span class="old">$285</span>$230.00</h5>
									<div class="ratting">
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
									</div>

								</div>

							</div>

						</div><!-- Product End -->
					</div>

					<div class="col-xl-3 col-lg-4 col-md-6 col-12 pb-30 pt-10">
						<!-- Product Start -->
						<div class="ee-product">

							<!-- Image -->
							<div class="image">

								<a href="single-product.html" class="img"><img src="~/assets/images/product/product-18.png" alt="Product Image"></a>

								<div class="wishlist-compare">
									<a href="#" data-tooltip="Compare"><i class="ti-control-shuffle"></i></a>
									<a href="#" data-tooltip="Wishlist"><i class="ti-heart"></i></a>
								</div>

								<a href="#" class="add-to-cart"><i class="ti-shopping-cart"></i><span>ADD TO CART</span></a>

							</div>

							<!-- Content -->
							<div class="content">

								<!-- Category & Title -->
								<div class="category-title">

									<a href="#" class="cat">Tv & Audio</a>
									<h5 class="title"><a href="single-product.html">Xonet Speaker P 9</a></h5>

								</div>

								<!-- Price & Ratting -->
								<div class="price-ratting">

									<h5 class="price">$185.00</h5>
									<div class="ratting">
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star-half-o"></i>
										<i class="fa fa-star-o"></i>
									</div>

								</div>

							</div>

						</div><!-- Product End -->
					</div>

					<div class="col-xl-3 col-lg-4 col-md-6 col-12 pb-30 pt-10">
						<!-- Product Start -->
						<div class="ee-product">

							<!-- Image -->
							<div class="image">

								<span class="label sale">sale</span>

								<a href="single-product.html" class="img"><img src="~/assets/images/product/product-19.png" alt="Product Image"></a>

								<div class="wishlist-compare">
									<a href="#" data-tooltip="Compare"><i class="ti-control-shuffle"></i></a>
									<a href="#" data-tooltip="Wishlist"><i class="ti-heart"></i></a>
								</div>

								<a href="#" class="add-to-cart"><i class="ti-shopping-cart"></i><span>ADD TO CART</span></a>

							</div>

							<!-- Content -->
							<div class="content">

								<!-- Category & Title -->
								<div class="category-title">

									<a href="#" class="cat">Smartphone</a>
									<h5 class="title"><a href="single-product.html">flex P 3310</a></h5>

								</div>

								<!-- Price & Ratting -->
								<div class="price-ratting">

									<h5 class="price"><span class="old">$220</span>$180.00</h5>
									<div class="ratting">
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star-half-o"></i>
										<i class="fa fa-star-o"></i>
									</div>

								</div>

							</div>

						</div><!-- Product End -->
					</div>

					<div class="col-xl-3 col-lg-4 col-md-6 col-12 pb-30 pt-10">
						<!-- Product Start -->
						<div class="ee-product">

							<!-- Image -->
							<div class="image">

								<span class="label sale">sale</span>

								<a href="single-product.html" class="img"><img src="~/assets/images/product/product-20.png" alt="Product Image"></a>

								<div class="wishlist-compare">
									<a href="#" data-tooltip="Compare"><i class="ti-control-shuffle"></i></a>
									<a href="#" data-tooltip="Wishlist"><i class="ti-heart"></i></a>
								</div>

								<a href="#" class="add-to-cart"><i class="ti-shopping-cart"></i><span>ADD TO CART</span></a>

							</div>

							<!-- Content -->
							<div class="content">

								<!-- Category & Title -->
								<div class="category-title">

									<a href="#" class="cat">Kitchen Appliances</a>
									<h5 class="title"><a href="single-product.html">Jackson Toster V 27</a></h5>

								</div>

								<!-- Price & Ratting -->
								<div class="price-ratting">

									<h5 class="price"><span class="old">$185</span>$135.00</h5>
									<div class="ratting">
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
									</div>

								</div>

							</div>

						</div><!-- Product End -->
					</div>

					<div class="col-xl-3 col-lg-4 col-md-6 col-12 pb-30 pt-10">
						<!-- Product Start -->
						<div class="ee-product">

							<!-- Image -->
							<div class="image">

								<a href="single-product.html" class="img"><img src="~/assets/images/product/product-21.png" alt="Product Image"></a>

								<div class="wishlist-compare">
									<a href="#" data-tooltip="Compare"><i class="ti-control-shuffle"></i></a>
									<a href="#" data-tooltip="Wishlist"><i class="ti-heart"></i></a>
								</div>

								<a href="#" class="add-to-cart"><i class="ti-shopping-cart"></i><span>ADD TO CART</span></a>

							</div>

							<!-- Content -->
							<div class="content">

								<!-- Category & Title -->
								<div class="category-title">

									<a href="#" class="cat">Kitchen Appliances</a>
									<h5 class="title"><a href="single-product.html">mega Juice Maker</a></h5>

								</div>

								<!-- Price & Ratting -->
								<div class="price-ratting">

									<h5 class="price">$125.00</h5>
									<div class="ratting">
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star-half-o"></i>
									</div>

								</div>

							</div>

						</div><!-- Product End -->
					</div>

					<div class="col-xl-3 col-lg-4 col-md-6 col-12 pb-30 pt-10">
						<!-- Product Start -->
						<div class="ee-product">

							<!-- Image -->
							<div class="image">

								<span class="label new">new</span>

								<a href="single-product.html" class="img"><img src="~/assets/images/product/product-22.png" alt="Product Image"></a>

								<div class="wishlist-compare">
									<a href="#" data-tooltip="Compare"><i class="ti-control-shuffle"></i></a>
									<a href="#" data-tooltip="Wishlist"><i class="ti-heart"></i></a>
								</div>

								<a href="#" class="add-to-cart"><i class="ti-shopping-cart"></i><span>ADD TO CART</span></a>

							</div>

							<!-- Content -->
							<div class="content">

								<!-- Category & Title -->
								<div class="category-title">

									<a href="#" class="cat">Kitchen Appliances</a>
									<h5 class="title"><a href="single-product.html">shine Microwave Oven</a></h5>

								</div>

								<!-- Price & Ratting -->
								<div class="price-ratting">

									<h5 class="price"><span class="old">$389</span>$245.00</h5>
									<div class="ratting">
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star-o"></i>
									</div>

								</div>

							</div>

						</div><!-- Product End -->
					</div>

					<div class="col-xl-3 col-lg-4 col-md-6 col-12 pb-30 pt-10">
						<!-- Product Start -->
						<div class="ee-product">

							<!-- Image -->
							<div class="image">

								<a href="single-product.html" class="img"><img src="~/assets/images/product/product-23.png" alt="Product Image"></a>

								<div class="wishlist-compare">
									<a href="#" data-tooltip="Compare"><i class="ti-control-shuffle"></i></a>
									<a href="#" data-tooltip="Wishlist"><i class="ti-heart"></i></a>
								</div>

								<a href="#" class="add-to-cart"><i class="ti-shopping-cart"></i><span>ADD TO CART</span></a>

							</div>

							<!-- Content -->
							<div class="content">

								<!-- Category & Title -->
								<div class="category-title">

									<a href="#" class="cat">Kitchen Appliances</a>
									<h5 class="title"><a href="single-product.html">Auto Rice Cooker</a></h5>

								</div>

								<!-- Price & Ratting -->
								<div class="price-ratting">

									<h5 class="price">$130.00</h5>
									<div class="ratting">
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star-o"></i>
									</div>

								</div>

							</div>

						</div><!-- Product End -->
					</div>

				</div>
			</div>

		</div>
	</div>
</div><!-- New Arrival Product Section End -->
<!-- Banner Section Start -->
<div class="banner-section section mb-60">
	<div class="container">
		<div class="row">

			<!-- Banner -->
			<div class="col-md-4 col-12 mb-30">
				<div class="banner"><a href="#"><img src="~/assets/images/banner/banner-4.jpg" alt="Banner"></a></div>
			</div>

			<!-- Banner -->
			<div class="col-md-4 col-12 mb-30">
				<div class="banner"><a href="#"><img src="~/assets/images/banner/banner-5.jpg" alt="Banner"></a></div>
			</div>

			<!-- Banner -->
			<div class="col-md-4 col-12 mb-30">
				<div class="banner"><a href="#"><img src="~/assets/images/banner/banner-6.jpg" alt="Banner"></a></div>
			</div>

		</div>
	</div>
</div><!-- Banner Section End -->
<!-- Brands Section Start -->
<div class="brands-section section mb-90">
	<div class="container">
		<div class="row">

			<!-- Brand Slider Start -->
			<div class="brand-slider col">
				<div class="brand-item col"><img src="~/assets/images/brands/brand-1.png" alt="Brands"></div>
				<div class="brand-item col"><img src="~/assets/images/brands/brand-2.png" alt="Brands"></div>
				<div class="brand-item col"><img src="~/assets/images/brands/brand-3.png" alt="Brands"></div>
				<div class="brand-item col"><img src="~/assets/images/brands/brand-4.png" alt="Brands"></div>
				<div class="brand-item col"><img src="~/assets/images/brands/brand-5.png" alt="Brands"></div>
			</div><!-- Brand Slider End -->

		</div>
	</div>
</div><!-- Brands Section End -->
<!-- Subscribe Section Start -->
