@model DataAccess.Models.Article

@{
	ViewBag.Title = "Edit";
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Edit</h2>
@using (Html.BeginForm())
{
	@Html.AntiForgeryToken()

	<div class="form-horizontal">
		<h4>Article</h4>
		<hr />
		@Html.ValidationSummary(true, "", new { @class = "text-danger" })
		<div class="form-group">
			@*@Html.LabelFor(model => model.ArticleGroupId, "ArticleGroupId", htmlAttributes: new { @class = "control-label col-md-2" })*@
			<label class="col-md-2">Nhóm tin tức</label>

			<div class="col-md-10">
				@Html.DropDownList("ArticleGroupId", null, htmlAttributes: new { @class = "form -control" })

				@Html.ValidationMessageFor(model => model.ArticleGroupId, "", new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group">
			@*@Html.LabelFor(model => model.Author, htmlAttributes: new { @class = "control-label col-md-2" })*@
			<label class="col-md-2">Tác giả</label>
			<div class="col-md-10">
				@Html.EditorFor(model => model.Author, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.Author, "", new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group">
			@*@Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })*@
			<label class="col-md-2">Tiêu đề</label>
			<div class="col-md-10">
				@Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group">
			@*@Html.LabelFor(model => model.Sumary, htmlAttributes: new { @class = "control-label col-md-2" })*@
			<label class="col-md-2">Tóm tắt</label>
			<div class="col-md-10">
				@Html.EditorFor(model => model.Sumary, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.Sumary, "", new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group">
			@*@Html.LabelFor(model => model.Photo, htmlAttributes: new { @class = "control-label col-md-2" })*@
			<label class="col-md-2">Banner</label>
			<div class="col-md-10">
				@Html.EditorFor(model => model.Photo, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.Photo, "", new { @class = "text-danger" })

			</div>
		</div>

		<div class="form-group">
			@*@Html.LabelFor(model => model.Detail, htmlAttributes: new { @class = "control-label col-md-2" })*@
			<label class="col-md-2">Nội dung</label>
			<div class="col-md-10">
				@Html.TextAreaFor(model => model.Detail, new { @id = "Detail", @class = "form-control ckeditor", @rows = "8" })
				@Html.ValidationMessageFor(model => model.Detail, "", new { @class = "text-danger" })
				<script>
					var detail = CKEDITOR.replace("Detail");
					CKFinder.setupCKEditor(detail, '/ckfinder/');//Tích hợp CKFinder
				</script>

			</div>
		</div>
		<div class="form-group">
			@*@Html.LabelFor(model => model.PostDate, htmlAttributes: new { @class = "control-label col-md-2" })*@
			<label class="col-md-2">Ngày đăng</label>
			<div class="col-md-10">
				@*@Html.EditorFor(model => model.PostDate, new { htmlAttributes = new { @class = "form-control" } })*@
				<input type="date" id="PostDate" name="PostDate" />
				@Html.ValidationMessageFor(model => model.PostDate, "", new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group">
			<div class="col-md-offset-2 col-md-10">
				<input type="submit" value="Cập nhập" id="btnSubmit" class="btn btn-default" />
			</div>
		</div>
	</div>
}
<style>
	div.ck-editor__editable {
		min-height: 200px;
	}
</style>
<div>
	@Html.ActionLink("Back to List", "Index")
</div>
@section editscript {
	@*<script src="~/dataAdmin/dataTable/fastclick.js"></script>
		<script src="~/dataAdmin/dataTable/demo.js"></script>
		<script src="~/dataAdmin/dataTable/ckeditor.js"></script>
		<script src="~/assets/ckeditor/js/html5shiv.min.js"></script>*@

	<script src="~/assets/ckeditor/js/sf.js"></script>
	<script src="~/assets/ckeditor/js/tree-a.js"></script>
	<script src="https://cdn.ckeditor.com/4.9.2/standard-all/ckeditor.js"></script>
	<script src="https://cdn.ckeditor.com/ckeditor5/10.0.1/classic/ckeditor.js"></script>
	<script src="~/assets/ckeditor/ckfinder.js"></script>
	<script>
		// Note: in this sample we use CKEditor with two extra plugins:
		// - uploadimage to support pasting and dragging images,
		// - image2 (instead of image) to provide images with captions.
		// Additionally, the CSS style for the editing area has been slightly modified to provide responsive images during editing.
		// All these modifications are not required by CKFinder, they just provide better user experience.
		if (typeof CKEDITOR !== 'undefined') {
			CKEDITOR.disableAutoInline = true;
			CKEDITOR.addCss('img {max-width:100%; height: auto;}');
			var editor = CKEDITOR.replace('editor1', {
				extraPlugins: 'uploadimage,image2',
				removePlugins: 'image',
				height: 250
			});
			CKFinder.setupCKEditor(editor);
		} else {
			document.getElementById('Detail').innerHTML =
				'<div class="tip-a tip-a-alert">This sample requires working Internet connection to load CKEditor 4 from CDN.</div>'
		}

		if (typeof ClassicEditor !== 'undefined') {
			ClassicEditor
				.create(document.querySelector('#editor2'), {
					ckfinder: {
						// To avoid issues, set it to an absolute path that does not start with dots, e.g. '/ckfinder/core/php/(...)'
						uploadUrl: '/ckfinder/connector?command=QuickUpload&type=Files&responseType=json'
					}
				})
				.then(function (editor) {
					// console.log( editor );
				})
				.catch(function (error) {
					console.error(error);
				});
		} else {
			document.getElementById('editor2').innerHTML =
				'<div class="tip-a tip-a-alert">This sample requires working Internet connection to load CKEditor 5 from CDN.</div>'
		}

	</script>
	<script src="//cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js" type="text/javascript"></script>
}