@model ShopHungVuong.Web.Models.ProductModelView
@{
	Layout = null;
}
<div class="product-section section mb-60">
	<div class="container">
		<div class="row">

			<!-- Section Title Start -->
			<div class="col-12 mb-40">
				<div class="section-title-one" data-title="BEST SELLER"><h1>SẢN PHẨM BÁN CHẠY NHẤT</h1></div>
			</div><!-- Section Title End -->

			<div class="col-12">
				<div class="row">
					@if (ViewBag.ProductList != null)
					{

						foreach (var item in ViewBag.ProductList)
						{
							<div class="col-xl-3 col-lg-4 col-md-6 col-12 pb-30 pt-10">
								<!-- Product Start -->
								<div class="ee-product">

									<div class="image">

										<a href="@Url.Action("ProductDetail", "Products", new { @id = item.Id })" class="img"><img src="~/assets/images/product/@item.MainPhoto1" width="270" height="320" alt="Product Image"></a>

										<div class="wishlist-compare">
											<a href="#" data-tooltip="Compare"><i class="ti-control-shuffle"></i></a>
											<a href="#" data-tooltip="Wishlist"><i class="ti-heart"></i></a>
										</div>

										<a href="#" class="add-to-cart"><i class="ti-shopping-cart"></i><span>ADD TO CART</span></a>

									</div>

									<!-- Content -->
									<div class="content">

										<!-- Category & Title -->
										<div class="category-title">

											<a href="#" class="cat">@item.ProductGroupName</a>
											<h5 class="title"><a href="@Url.Action("ProductDetail", "Products", new { @id = item.Id })">@item.Name</a></h5>

										</div>

										<!-- Price & Ratting -->
										<div class="price-ratting">

											<h5 class="price">@item.Price</h5>
											<div class="ratting">
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star-half-o"></i>
											</div>

										</div>

									</div>

									<!-- Image -->


								</div><!-- Product End -->
							</div>
						}
					}
				</div>
			</div>

		</div>
	</div>
</div>